{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}


{% block main %}
<div class="row">
{# Friend Recommend #}
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            {% include 'friend/partial_nonfriend_list.html' %}
        
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-6">

        {# Ask Friend List #}
        {% include 'friend/partial_received_asking_list.html' %}
        <hr>
        {# Friend List #}
        {% include 'friend/partial_friend_list.html' %}
        <hr>
        {# Friend List #}
        {% include 'friend/partial_rejected_list.html' %}
    </div>
</div>
{% endblock main %}

{% block javascript %}
<script>
$(document).on('click', '.btn-ask-friend', function(){
  var friend = $(this)
  var pk = friend.attr('data-url');
  console.log('PK : ' + pk);

  $.ajax({
    type: 'POST',
    url: "{% url 'friend:ask_friend' %}",
    data: {'pk': pk, 'csrfmiddlewaretoken': '{{csrf_token}}' },
    dataType: 'json',

    // response expression from Server 
    // { 'message': message }
    success: function(response){
      console.log(response);
      alert(response.message);
      friend.hide();
    },

    error: function(request, status, error) {
        console.log(error);
    },
  });
});

$(document).on('click', '.btn-accept-friend', function(){
  var pk = $(this).attr('data-url');
  var friend = $(this).closest(".friend");

  console.log('Friend_list : ' + friend_list);

  $.ajax({
    type: 'POST',
    url: "{% url 'friend:accept_friend' %}",
    data: {'pk': pk, 'csrfmiddlewaretoken': '{{csrf_token}}' },
    dataType: 'html',

    // response expression from Server 
    // { 'html': html }
    success: function(response){
      console.log(response);
      friend.hide();
      $("#friend_list").html(response);
    },

    error: function(request, status, error) {
        console.log(error);
    },
  });
});

$(document).on('click', '.btn-reject-friend', function(){
  var pkname = $(this).attr('data-url');
  var friend = $(this).closest(".friend");

  var split = pkname.split(":");
  var pk = split[0];
  var name = split[1];

  if (confirm( 'Will you reject the friendship from ' + name + '?')) {

    $.ajax({
      type: 'POST',
      url: "{% url 'friend:reject_friend' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{csrf_token}}' },
      dataType: 'json',

      // response expression from Server 
      // { 'message': message }
      success: function(response){
        // console.log(response);
        // alert(response.message);
        friend.hide();
        $("#rejected_list").html(response);
      },

      error: function(request, status, error) {
          console.log(error);
      },
    });
  };
});

</script>

{% endblock javascript %}
