{% load static %}

<div class="ibox-title">
    <h2> 
        Received asking friendship List
    </h2>
</div>
<div class="ibox-content">
    {% for follower in received_list %}
        {% if follower.user != request.user %}
        <div class="row friend">
            <div class="col-xs-offset-1 col-xs-3">
                <img src="{% if follower.picture %} {{ follower.picture.url }} {% else %} {% static 'images/nouser.png' %}{% endif %}" 
                style="border-radius: 5px; margin-bottom: 1em;" width="100px" alt="{{follower.nickname}}">
            </div>
            <div class="col-xs-4 text-center">
                <strong>{{follower.nickname}}</strong> <br>
                <small># of Friends : {{follower.follower_count}} </small>

            </div>
            <div class="col-xs-3 text-center">
                <div id="btn-{{follower.id}}">
                    <button class="btn btn-info btn-accept-friend" id="btn" data-url="{{follower.id}}">Accept Friend</button>
                    <button class="btn btn-warning btn-reject-friend" data-url="{{follower.id}}:{{follower.nickname}}">Reject Friend</button>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>    
