{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
#floating-theme {
  position: absolute;
  bottom: 70px;
  left: 10px;
  z-index: 5;
  background-color: #fff;
  padding: 1px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
  padding: 3px;
}
</style>
{% endblock css %}

{% block main %}

{# Toggle Menu Map or TimeTable : Tag & Position #}
{% if tag and pos %}
    <div id="floating-menu">
      <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:position_timeline_tag' tag %}">
        <i class="fa fa-table fa-lg"></i>
      </button>
    </div>
{% elif pos %}
    <div id="floating-menu">
      <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:position_timeline' %}">
        <i class="fa fa-table fa-lg"></i>
      </button>
    </div>
{% elif tag %}
    <div id="floating-menu">
      <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:index_tag' tag %}">
        <i class="fa fa-table fa-lg"></i>
      </button>
    </div>
{% elif bucket %}
    <div id="floating-menu">
      <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:bucket_list' %}">
        <i class="fa fa-table fa-lg"></i>
      </button>
    </div>
{% elif theme %}
    <div id="floating-menu">
      <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:user_theme_list' theme.id %}">
        <i class="fa fa-table fa-lg"></i>
      </button>
    </div>
{% else %}
    <div id="floating-menu">
      <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:index' %}">
        <i class="fa fa-table fa-lg"></i>
      </button>
    </div>
{% endif %}

{# Tag : Current or All #}
{% if pos %}
  <div id="floating-panel">
    <input type=button value="food" class="maptag" data-url="{% url 'blog:position_on_map_tag' 'food' %}"> 
    <input type=button value="travel" class="maptag" data-url="{% url 'blog:position_on_map_tag' 'travel' %}"> 
  </div>
{% else %}
  <div id="floating-panel">
    <input type=button value="food" class="maptag" data-url="{% url 'blog:post_on_map_tag' 'food' %}"> 
    <input type=button value="travel" class="maptag" data-url="{% url 'blog:post_on_map_tag' 'travel' %}"> 
  </div>
{% endif %}

{# Theme : Current or All #}
{% if history and ownerTheme %}
  <div id="floating-theme">
  {% for theme in user.profile.get_theme_list %}
    <input type=button value="{{theme.name}}" class="theme" data-url="{% url 'blog:user_theme_list' theme.id %}"> 
  {% endfor %}
  </div> 
{% else %}
  <div id="floating-theme">
    <input type=button value="{{theme}}" class="theme" data-url="#"> 
  </div> 
{% endif %}

<div id="map">
    
</div>

{% endblock main %}

{% block javascript %}
{% include 'blog/gps.html' with isMap=True %}

<script>
  {% if message %}
    alert("{{message}}");
  {% endif %}
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXY6uFicQrbFZ-ddMHg2eQrFT9BAVqLOo&callback=initMap">
</script>

{% endblock javascript %}