{% extends 'base.html' %}
{% load static bootstrap3 i18n %}


{% block css %}
<link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/tagsinput/tagsinput.css' %}" rel="stylesheet">
<link href="{% static 'css/picture.css' %}" rel="stylesheet" > 
{% endblock css %}


{% block main %}
  <div class="container">
      <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
              <div class="user-title">
                <h1 class="form-title"> {% trans "New Post" %} </h1>
              </div>

              <form action="" method="post" enctype="multipart/form-data" id="form-post">
                <div class="preview">
                  <div class="upload">
                    <span class="preview-bg"></span>
                    <p class="preview-title"> {% trans "Add post picture" %} </p>
                    {% if post %}
                      {% for content in post.get_contents %}
                        <img src="{{content.file.url}}" alt="" id="img_id" style="width: 300px; height: 300px; object-fit: cover">
                      {% endfor %}
                    {% else %}
                        <p><img src="" alt="" id="img_id" style="width: 300px; object-fit: cover"></p> 
                    {% endif %}
                  </div>
                </div>

                {% csrf_token %}
                {% bootstrap_form form %}

                {% if post %}
                  <div class="form-group">
                    <label class="control-label" for="id_tags">Tags</label><br>
                    <input type="text" name="tags" class="form-control tagsinput" value="{{post.get_tag_set|join:","}}" title id="id_tags" data-role="tagsinput" /> 
                  </div>
                {% endif %}
                
                <input type="button" id="btn_ok" class="btn btn-lg btn-primary" value="Confirm" />
              </form>
          </div>
      </div>
      <div style="height: 100px;">
      </div>
  </div>
{% endblock main %}


{% block modal %}
<!-- Modal --> 

{% endblock modal %}


{% block javascript %}
{% include 'blog/gps.html' %}
{% include 'blog/picture.js' %}
<script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>
<script src="{% static 'js/plugins/tagsinput/tagsinput.js' %}"></script>
<script>
    var elem1 = document.querySelector('.js-switch1');
    var init1 = new Switchery(elem1, { color: '#1AB394' });

    var elem2 = document.querySelector('.js-switch2');
    var init2 = new Switchery(elem2, { color: '#1AB394' });

    $('.tagsinput').tagsinput({
        tagClass: 'label label-primary'
    });
    $(document).on('click', '#btn_ok', function(){
        var value = $("#id_theme").val();
        console.log(value);
        if( value ) {
            $("#form-post").submit();
        } else {
            alert('Choose the theme.');
        }
    });
</script>

{% endblock javascript %}
