{% load bootstrap3 i18n %}

    <i class="close icon"></i>
    <div class="header">
        Theme Add 
    </div>
<form method="post" action="{% url 'blog:theme_add' %}" class="add-theme-form">
    {% csrf_token %}
    <div class="image content">
        <div class="text-left">
            {% bootstrap_form form %}
        </div>
        <div class="row">
            <div class='text-left'>
                <p class="text-success"> {% trans "You invite a person to a theme." %} </p>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-8 search">
            <input type="text" class="form-control" id="id_person">
            <div class="results" id="person_results">
              
            </div>
          </div>
          <div class="col-xs-4 made-input">
            <div class="col-xs-6" id="persons_name">
                
            </div>
            <div class="col-xs-2" id="persons_id">
                
            </div>
          </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            Submit
            <i class="checkmark icon"></i>
        </div>
    </div>
</form>

