{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block main %}
  <div class="row"> 
      <div class="col-sm-{% if profile %}6{% else %}4{% endif %} content_list">
          <div id="post-container" class="photo">
            {% if profile %}
              {% include 'account/person_policy.html' with pList=True user=friend %}
            {% endif %}

            {% if post_list %}
                {% for post in post_list %}
                  {% include 'blog/partial/post_detail.html' with pList=True %}
                {% endfor %}
            {% else %}
                <div class="ibox float-e-margins" post-id="{{post.id}}">
                    <div class="ibox-title">
                        <h3>No Content</h3>
                    </div>
                    <div class="ibox-content">
                        <div class="text-center">
                          <p>You don't have a friend or bucket List</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            
          </div>
      </div>

    {# Toggle Menu Map or TimeTable : Tag & Position #}
    {% if tag and pos %}
        <div id="floating-menu">
          <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:position_on_map_tag' tag %}">
            <i class="fa fa-map-marker fa-lg"></i>
          </button>
        </div>
    {% elif pos %}
        <div id="floating-menu">
          <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:position_on_map' %}">
            <i class="fa fa-map-marker fa-lg"></i>
          </button>
        </div>
    {% elif tag %}
        <div id="floating-menu">
          <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:post_on_map_tag' tag %}">
            <i class="fa fa-map-marker fa-lg"></i>
          </button>
        </div>
    {% elif bucket %}
        <div id="floating-menu">
          <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:bucket_on_map' %}">
            <i class="fa fa-map-marker fa-lg"></i>
          </button>
        </div>
    {% else %}
        <div id="floating-menu">
          <button class="circular ui icon button" id="menu_toogle" data-url="{% url 'blog:post_on_map' %}">
            <i class="fa fa-map-marker fa-lg"></i>
          </button>
        </div>
    {% endif %}

    {% if pos %}
      <div id="floating-panel">
        <input type=button value="food" class="maptag" data-url="{% url 'blog:position_timeline_tag' 'food' %}"> 
        <input type=button value="travel" class="maptag" data-url="{% url 'blog:position_timeline_tag' 'travel' %}"> 
      </div>
    {% elif bucket %}
      
    {% elif history %}

    {% else %}
      <div id="floating-panel">
        <input type=button value="food" class="maptag" data-url="{% url 'blog:index_tag' 'food' %}"> 
        <input type=button value="travel" class="maptag" data-url="{% url 'blog:index_tag' 'travel' %}"> 
      </div>
    {% endif %}
      
  </div>
{% endblock main %}


{% block modal %}

{% endblock modal %}


{% block javascript %}
{% include "blog/gps.html" %}
{% include 'blog/script.js' %}

{% if profile %}
<link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">
<script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>
<script>
{% for theme in friend.profile.get_theme_list %}
    var elem{{forloop.counter}} = document.querySelector('.js-switch1-{{forloop.counter}}');
    var init = new Switchery(elem{{forloop.counter}}, { color: '#ED5565' });
{% endfor %}

{% for theme in friend.profile.get_invited_theme %}
    var elem{{forloop.counter}} = document.querySelector('.js-switch2-{{forloop.counter}}');
    var init = new Switchery(elem{{forloop.counter}}, { color: '#ED5565' });
{% endfor %}
</script>
{% endif %}

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXY6uFicQrbFZ-ddMHg2eQrFT9BAVqLOo&callback=initMap">
</script>

{% endblock javascript %}