{% load i18n %}

<div class="ui modal" id="modalCrop">
    <i class="close icon"></i>
    <div class="header">
        {% trans "Crop the photo" %}
    </div>
    <div class="image content">
      <img src="" id='image' style='max-width: 100%'>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui green icon button btn-crop">
            {% trans "Crop and Upload" %}
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>