<div class="ui four buttons fixed">
  <button class="ui button"><a id="btn_my_location" href="{% url 'blog:position_onmap' %}"><i class="fa fa-map-marker fa-lg"></i></a></button>
  <button class="ui button"><a href="{% url 'blog:post_add' %}"><i class="fa fa-plus fa-lg"></i></a></button>
  <button class="ui button"><a href="{% url 'blog:bucket_timeline' %}"><i class="fa fa-diamond fa-lg"></i></a></button>
  <button class="ui button"><a href="{% url 'friend:friend_list' %}"><i class="fa fa-users fa-lg"></i></a></button>
  <button class="ui button"><i class="fa fa-home fa-lg"></i></button>
</div>

