
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
<script src="https://use.fontawesome.com/658bb4caf7.js"></script>
<style>
.fixed {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
}
</style>
</head>
<body>

<div class="ui three buttons menu">
  <button class="ui button"><i class="fa fa-home fa-2x"></i></button>
  <button class="ui button"><h2>ohtto.com</h2></button>
  <button class="ui button">logout</button>
</div>

<div class="ui five buttons fixed">
  <button class="ui active button"><i class="fa fa-home fa-2x"></i></button>
  <button class="ui button"><i class="fa fa-home fa-2x"></i></button>
  <button class="ui button"><i class="fa fa-home fa-2x"></i></button>
  <button class="ui button"><i class="fa fa-home fa-2x"></i></button>
  <button class="ui button"><i class="fa fa-home fa-2x"></i></button>
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="css/semantic.min.js"></script>
</body>
</html>